@charset "utf-8";
<style type="text/css">

/* body 样式 */
body {
    font-family: Arial;
    margin: auto;
	background-color: #f7f9fa;
}

/* 标题 */
.header {
	padding-top:10px;
    text-align: center;
    background: #ffffff;
    color: #000;
}

/* 标题字体加大 */
.header h1 {
    font-size: 40px;
}

/* li的字体 */
.li {font-size:10px;
height:auto;
max-width: 100%;



}

/* 导航 */
.navbar {
    overflow: hidden;
	max-width:1190px;
	margin:auto;
}

/* 导航栏样式 */
.navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;

}

/* 右侧链接*/
.navbar a.right {
    float: right;
}

/* 鼠标移动到链接的颜色 */
.navbar a:hover {
	
	padding-bottom: 11px;
	border-bottom: 3px solid #ffc001;
	
}

/* 列容器 */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	max-width: 1210px;
	margin: auto;
	padding-top:20px;

}



/* 创建三个列 */
/* 边栏 */
.side {
    -ms-flex: 19%; /* IE10 */
    flex: 19%;
    background-color: #ffffff;
    padding: 20px;
	height: auto;
	margin:0px 5px 0px 5px;
	border-radius:5px;
	
   
}

/* 主要的内容区域 */
.main {   
    -ms-flex: 58%; /* IE10 */
    flex: 58%;
    background-color: white;
    padding: 20px;
	height:auto;
	margin:0px 5px 0px 5px;
	border-radius:5px;
	

}

/* 第三列 */
.three {   
    -ms-flex: 19%; /* IE10 */
    flex: 19%;
    background-color: #ffffff;
    padding: 20px;
	height:auto;
	margin:0px 5px 0px 5px;
	border-radius:5px;
	
}
.zhuyao {
	-ms-flex: 73%; /* IE10 */
    flex: 73%;
    background-color: #ffffff;
	padding: 20px;
	height: auto;
	margin:0px 5px 0px 5px;
	max-height:480px;
	overflow-y:auto;
	border-radius:5px;
	
	}
.zhuyao::-webkit-scrollbar {
	display:none;}
	
.zhuyao-2 {
	-ms-flex: 24%; /* IE10 */
    flex: 24%;
    background-color: #ffffff;
	padding: 20px;
	height: auto;
	margin: auto;
	margin:0px 5px 0px 5px;
	border-radius:5px;

}
	
/* 测试图片 */
.fakeimg {
    background-color: #aaa;
    width: auto;
    padding: 0px;
}

/* 底部 */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
	margin-top: 20px;
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 600px 时, 让每栏上下堆叠显示 */
@media screen and (max-width: 600px) {
    .row {   
        flex-direction: column;
		padding:10px;
		}
	.side {
		width:auto;
		height: auto;
		background-size: cover;
		padding:10px;
		margin:0px;
		
    }
	.main {
		width:auto;
		height: auto;
		background-size: cover;
		padding:10px;
		margin:0px;
		}
	.three {
		width:auto;
		height: auto;
		background-size: cover;
		padding:10px;
		margin:0px;}
		
	.zhuyao {
		width:auto;
		height: auto;
		background-size: cover;
		padding:10px;
		margin:0px;}
	.zhuyao-2 {
		width:auto;
		height: auto;
		background-size: cover;
		padding:10px;
		margin:0px;}
	
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 600px 时, 让导航栏目高度减半且向左靠 */
@media screen and (max-width: 600px) {
    .navbar a {
        float: left;
        width: auto;
		height: 50%;
		padding: 14px 14px;
    }
	.navbar {padding:0px 9px 0px 9px;}

}

/*鼠标选中特效*/
.lau{ opacity:0;
transition:all 0.8s;
}
.lau:hover{opacity:1;

}

</style>
