@charset "utf-8";
<style type="text/css">

/* body 样式 */
body {
    font-family: Arial;
    margin: auto;
}
/* 标题 */
.header {
	padding-top:80px;
    text-align: center;
	background: #1abc9c;
    color: white;
}

/* 标题字体加大 */
.header h1 {
    font-size: 40px;
}

/* li的字体 */
.li {font-size:10px;
height:auto;
max-width: 100%;



}

/* 导航 */
.navbar {
    overflow: hidden;
	max-width:1210px;
	margin:auto;
}

/* 导航栏样式 */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;

}

/* 右侧链接*/
.navbar a.right {
    float: right;
}

/* 鼠标移动到链接的颜色 */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* 列容器 */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
	max-width: 1210px;
	margin: auto;
	padding-top:20px;

}

/* 创建三个列 */
/* 边栏 */
.side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
	height: auto;
	
   
}

/* 主要的内容区域 */
.main {   
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    background-color: white;
    padding: 20px;
	height:auto;
	

}

/* 第三列 */
.three {   
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
	height:auto;
	
}
/* 测试图片 */
.fakeimg {
    background-color: #aaa;
    width: auto;
    padding: 0px;
}

/* 底部 */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
	margin-top: 20px;
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 480px 时, 让每栏上下堆叠显示 */
@media screen and (max-width: 480px) {
    .row {   
        flex-direction: column;
		}
	.side {
		width:100%;
		height: auto;
		background-size: cover;
		
    }
	.main {
		width:100%;
		height: auto;
		background-size: cover;
		}
	.three {
		width:100%;
		height: auto;
		background-size: cover;}
	
	
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目高度不变向左靠 */
@media screen and (max-width: 400px) {
    .navbar a {
        float: left;
        width: auto;
		height: 100%;
    }

}

/*鼠标选中特效*/
.lau{ opacity:0;
transition:all 0.8s;
}
.lau:hover{opacity:1;

}

/*鼠标选中特效*/
.lau{ opacity:0;
transition:all 0.8s;
}
.lau:hover{opacity:1;

}
</style>
